<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.12.1" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Snowflake.Data" version="1.1.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net461" />
</packages>